@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { 
  font-family: 'Montserrat', sans-serif; 
}

/*<-================================================================-> 
                                HEADER
<-================================================================->*/

.page-header {
  position: absolute;
  top: 1%;
  left: 1%;
  /* transform: translateX(-50%); */
  z-index: 111111;
}

.tb-navbar-brand {

}
 
/*  ================================================================
                                CONTENT
    ================================================================ */

.main .swiper {
  height: 100vh;
  /* background-color: blueviolet;  */
}
.main .swiper .swiperImg {
  width: 100%;
  /* height: auto; */
  height: 120vh;
  object-fit: cover;
} 
.main .swiper .bg-image img:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.8;
  z-index: 1;
} 
.main .swiper .swiper-slide-caption {
  top: 20%;
  left: 43%;
}
 /* Section one */
 .main .swiper .swiper-slide-caption .section-one h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}
.main .swiper .swiper-slide-caption .section-one p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.main .swiper .swiper-slide-caption .section-one h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
/* Section two  */
.main .swiper .swiper-slide-caption .section-two p{
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
}
.main .swiper .swiper-slide-caption .section-two h3{
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
} 
.main .swiper .swiper-slide-caption .section-one, 
.main .swiper .swiper-slide-caption .section-two {
  text-align: left;
} 
.main .gold span{
  color: #E9B42B;
} 
/*
  Swiper Arrows Styling : 
*/
/* .main .arrow {
  position: absolute;
}
.main .image-swiper-button-prev{
  left: 0;
  background: url(Imgs/Arrows/right.png) no-repeat; 
}
.main .image-swiper-button-next{
  right: 0;
  background: url(Imgs/Arrows/left.png) no-repeat; 
} */

.main s {
  text-decoration:none;
  position:relative;
}
.main s::before{
  top: 50%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
  background:red; /*this is the color of the line*/
  opacity:.7;
  content: '';
  width: 110%;
  position: absolute;
  height:.1em;
  border-radius:.1em;
  left: -5%;
  white-space:nowrap;
  display: block;
  transform: rotate(-15deg);  
} 
.paginationHook { 
  z-index: 111111111111111;   
}

.paginationHook .next{
  z-index: 111111111111111;
  position: absolute;  
  bottom: 2%;
  right: 1%;
  cursor: pointer; 
  
}
/*
  Left Arrow aka prev: 
*/
.paginationHook .prev{
  z-index: 111111111111111;
  position: absolute;  
  bottom: 2%;
  left: 1%;
  cursor: pointer; 
  user-select: none;
}  
.paginationHook .prev::before{ 
  content: url(assets/Arrows/yellow-left.svg);  
  /* content: url(https://raw.githubusercontent.com/anasyoussi/temanliveaboard/master/src/Imgs/Arrows/yellow-left.svg);  */
  position: absolute; 
  left: 100%; 
  opacity: 0;
  transition: left .2s ease-in-out, opacity .2s ease-in-out;  
}
.paginationHook .prev:hover::before{
   left: 0%;
   opacity: 1;
}  
/*
  Right Arrow aka next
*/ 
.paginationHook .next{
  z-index: 111111111111111;
  position: absolute;  
  bottom: 2%;
  right: 1%;
  cursor: pointer; 
  user-select: none;
}  
.paginationHook .next::before{ 
  content: url(assets/Arrows/yellow-right.svg);  
  /* content: url(https://raw.githubusercontent.com/anasyoussi/temanliveaboard/master/src/Imgs/Arrows/yellow-right.svg);  */
  position: absolute; 
  right: 100%;  
  opacity: 0;
  transition: right .2s ease-in-out, opacity .2s ease-in-out;  
}
.paginationHook .next:hover::before{
  right: 0%;
  opacity: 1; 
} 
/*
  Mouse 
*/ 
.main .titleContainer{ 
  position: absolute;  
  z-index: 11111; 
  left: 50%;
  top: 96%;
  transform: translate(-50%, -50%);
} 
.main .titleContainer .title {
  /* color: #E9B42B; */
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700; 
}
.main .mouseContainer{
  position: absolute; 
  z-index: 11111; 
  top: 92%;
  left: 50%;
}

.main .mouseContainer .mouvingArrow {
	width: 0;
	height: 40px;
	border: 1px solid #E9B42B;
	position: relative;
	animation: scroll 1.5s infinite;
	-webkit-animation: scroll 1.5s infinite; 
} 
.main .mouseContainer .mouvingArrow::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: -5px;
  width: 1px;
  height: 10px; 
  border-top: 10px solid #E9B42B;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
} 
@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
} 
@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}  
/* .main .swiper .swiper-button-next {  
  background: url('Imgs/Arrows/left.png'); 
  z-index: 111;
}    */
  
/* .swiper-button-next,
.swiper-button-prev { 
  position: absolute; 
  top: 90%;
} */

/* https://www.timo-ernst.net/blog/2020/09/12/arrows-in-react-swiper-js-how-to-customize-prev-next-button/ */
.main .swiper [class^="swiper-button-"]{
  top: initial;
  bottom: 8%;
}

/*
  ============= Leads Section  ============= 
*/ 
.swal2-container {
  z-index: 20000 !important; 
}
.swal2-popup {
  top: -110px !important;
}

/* React input */
.react-tel-input .form-control{
  width: 100% !important;
  /* border: 1px solid #9f9f9f !important; */
} 
/* ./React input */

/* Input Countries Styles */
.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding-bottom: 0;
}
.leads-form select {
  border-radius: 0 !important;
}
/* Input Countries Styles*/

/* dateTimepicker */
.react-datepicker-wrapper{
  width: 100%;
}
/* datetimepicker*/


.leads {
  width: 400px;
  position: absolute;
  top: 11%;
  left: 8%;
  z-index: 1111;
  background-color: #fff;
  padding: 10px 0px;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2); 
}
.leads .title{
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #232323;
  text-align: center;
}
.leads .leads-form {
  padding-right: 20px;
  padding-left: 20px;
}
.leads .leads-form label {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}
.leads .leads-form input{
  border-radius: 0; 
}
.leads button.cta {
  font-size: 24px !important;
  line-height: 29px !important; 
  border-radius: 0;
  margin: auto;
  background-color: #E9B42B;
  border: 1px solid #E9B42B;
  width: 100%;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}
.leads button.cta:hover{
  background-color: #E9B42B;
  border: 1px solid #E9B42B;
}

@media (max-width: 1199px) { 
  /* Main Section */
  section.main .section-one{
    /* background-color: rebeccapurple; */
    width: 500px;
    text-align: center; 
    margin-left: -111px;
    margin-top: -100px;
  }
  section.main .section-two{
    display: none;
  }
  section.main{
    height: 60vh !important;
  }
  section.main .paginationHook .next, 
  section.main .paginationHook .prev {
    bottom: 57% !important;
  }

  section.main .titleContainer{
    top: 54%;
  } 
  section.main .mouseContainer{
    top: 50%;
  }
  /* End Main Section */
 

  /* Leads Section */
  section.leads {
    /* background-color: rebeccapurple; */
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
  }  
  /* End Leads Section */

  section.welcome {
    padding-top: 70px;
  }


  /* Offers Section */
  section.offers .section-one .title {
    font-size: 41px;
    line-height: 34px;
  }
  section.offers .section-one .subTitle {
    font-size: 18px;
    line-height: 34px;
  } 
  section.offers .swiper-slide-caption .offer-specification .offer-list{
    display: none;
  }
  section.offers .offer-specification{
    justify-content: center;
    text-align: center;
  }

}

@media(max-width:991px) {
  section.offers{
    /* background-color: rebeccapurple; */
  }
  section.offers .SwiperOfferBtns {

  }
  section.offers .SwiperOfferBtns .next, 
  section.offers .SwiperOfferBtns .prev{
    bottom: 20%;
  }
}

@media(max-width: 767px){
  section.offers{
    /* background-color: red; */
  }
  section.offers .SwiperOfferBtns {

  }
  section.offers .SwiperOfferBtns .next, 
  section.offers .SwiperOfferBtns .prev{
    bottom: 30%;
  }
  section.offers .offer-specification{
    margin-top: -25px;  
  }
}

/* @media(max-width: 767px){
  section.offers{
    /* background-color: red; */
  /* }
  section.offers .SwiperOfferBtns {

  }
  section.offers .SwiperOfferBtns .next, 
  section.offers .SwiperOfferBtns .prev{
    bottom: 40%;
  }
  section.offers .offer-specification{
    margin-top: -150px; 
  }  
} */

@media(max-width: 490px) {
  section.offers .offer-specification .offer-heading .offer-title{
    margin-bottom: 0px;
  }
  section.offers .offer-specification .offer-heading .offer-subtitle{
    font-size: 16px;
    margin-bottom: 0px;
  }
  section.offers .SwiperOfferBtns .next, 
  section.offers .SwiperOfferBtns .prev{
    /* bottom: 50%; */
    bottom: 15%; 
  }
  section.offers .offer-specification{
    margin-top: 50px; 
  }
} 

@media (min-width: 992px){
  section.offers{
    margin-bottom: 50px;
  }
}

 

/*
  ============= Welcome Section  ============= 
*/ 
.welcome {
  padding-top: 150px;
  padding-bottom: 80px;
} 
.welcome .section-one h2{
  font-size: 60px;
  font-weight: 700;
  line-height: 28px;
  color: #232323;
}
.welcome .section-one h4{
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #232323;
  padding: 15px 0;
}

.welcome .section-one p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #9f9f9f;
}

.welcome .section-two {
  /* font-size: 24px;
  line-height: 52px;
  font-weight: 700;
  color: #E9B42B; */
}

.welcome .section-two .marked-list{
  list-style: none; 
  margin-top: 60px;
}
.welcome .section-two .marked-list > li a {
  text-decoration: none;
  font-size: 24px; 
  line-height: 52px;
  font-weight: 700;
  color: #ddc124;
  transition: .3s all ease;
  position: relative;
}
.welcome .section-two .marked-list > li a::before{ 
  content: "";
  position: absolute;
  left: 2px;
  bottom: -2px;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .3s all ease;
  background: #efefef;
}
.welcome .section-two .marked-list > li a:hover,
.welcome .section-two .marked-list > li a:hover::before {
  content: "";
  width: 100%;
  color: #232323;
}

/* -------------------------- */
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23facf4b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.welcome .accordion-item {
  border-radius: 0 !important;
  border-color: #ddc124;
}

.welcome .accordion .accor-head div{ 
  background-color: none;
  text-decoration: none;
  font-size: 24px !important; 
  line-height: 52px !important;
  font-weight: 700 !important; 
  color: #ddc124 !important;
  transition: .3s all ease !important;
  position: relative !important;
}
.welcome .accordion .accor-head div::before{ 
  content: "";
  position: absolute;
  left: 2px;
  bottom: -2px;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .3s all ease;
  background: #efefef;
}
.welcome  .accordion .accor-head div:hover,
.welcome  .accordion .accor-head div:hover::before {
  content: "";
  width: 100%;
  color: #232323;
}

/*
  ============= Offers Section  ============= 
*/
.offers {
  margin-bottom: 0px;
}
.offers .section-one .title {
  font-size: 60px;
  line-height: 28px;
  font-weight: 700;
  color: #232323;  
}
.offers .section-one .subTitle {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #232323;
  padding: 15px 0;
}

.offers .swiper-slide-caption {
  top: 50%;
  left: 50%; 
  transform: translate(-50% , -50%); 
  /* background-color: red !important; */
  width: 90%;
}

.offers .offer-specification {
  /* background-color: red; */
  display: flex;

}
.offers .offer-specification .offer-heading .offer-title{
  margin-bottom: 30px;
  text-transform: uppercase;
}

.offers .offer-specification .offer-heading .offer-subtitle{
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 300;
}
.offers .offer-specification .offer-list {
  width: 500px;
  /* background-color: rebeccapurple; */
  margin-left: 70px;
}
.offers .offer-specification .offer-list ul {
  list-style: none;
}
.offers .offer-specification .offer-list ul li{
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 5px 2px;
}
.offers .offer-specification .offer-list ul li i{
  color: #E9B42B;
  margin-right: 10px;
}
.offers .cta-btn {
  text-decoration: none;
  font-size: 24px; 
  line-height: 52px;
  font-weight: 700;
  color: #ddc124;
  transition: .3s all ease;
  position: relative;
}
.offers .cta-btn::before{ 
  content: "";
  position: absolute;
  left: 2px;
  bottom: -2px;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .3s all ease;
  background: #efefef;
}
.offers .cta-btn:hover,
.offers .cta-btn:hover::before {
  content: "";
  width: 100%;
  color: #232323;
}

.offers .swiperImg{
  width: 100%;
  height: auto; 
  object-fit: cover;
} 
/*
  Offers Swiper Arrows : 
*/ 
.offers .SwiperOfferBtns {
  cursor: pointer;
  user-select: none;
} 
.offers .SwiperOfferBtns .prev{
  z-index: 1111111111111111; 
  position: absolute;
  bottom: 2%;
  left: 1%;
} 
.offers .SwiperOfferBtns .next{
  z-index: 1111111111111111; 
  position: absolute;
  bottom: 2%;
  right: 1%;
} 

/*
 ========= Offers Swiper Arrows Animarion =========
*/

/*
  Left Arrow aka prev: 
*/ 
.offers .SwiperOfferBtns .prev::before{ 
  content: url(assets/Arrows/yellow-left.svg);  
  position: absolute; 
  left: 100%; 
  opacity: 0;
  transition: left .2s ease-in-out, opacity .2s ease-in-out;  
}
.offers .SwiperOfferBtns .prev:hover::before{
   left: 0%;
   opacity: 1;
}  
/*
  Right Arrow aka next
*/ 
.offers .SwiperOfferBtns .next{
  z-index: 111111111111111;
  position: absolute;  
  bottom: 2%;
  right: 1%;
  cursor: pointer; 
  user-select: none;
}  
.offers .SwiperOfferBtns .next::before{ 
  content: url(assets/Arrows/yellow-right.svg);  
  position: absolute; 
  right: 100%;  
  opacity: 0;
  transition: right .2s ease-in-out, opacity .2s ease-in-out;  
}
.offers .SwiperOfferBtns .next:hover::before{
  right: 0%;
  opacity: 1; 
} 

/*
  Testimonials : 
*/

section.testimonials {
  padding-top: 70px;
  padding-bottom: 40px;
  /* background-color: #dad9d9 !important; */
}

section.testimonials .section-one .title{
  color: #232323;
  font-size: 41px;
  font-weight: 700;
  line-height: 34px;
}
section.testimonials .section-one .subTitle {
  font-size: 18px;
  line-height: 34px;
  font-weight: 700;
  color: #232323;
  padding: 15px 0;
}

.box{ 
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border:1px solid #ECECEC;
  /* box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02); */
}
 
.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border:1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #ddc124;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom:80px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190E7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190E7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}















/*
 ==================== Footer =================
*/ 
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}
footer .brand-name {
 
}
footer .col-logo {
  display: flex;
  color: #ffff;
  font-size: 14px;
}
footer .col-logo .description {
  padding-top: 15px;
  padding-left: 15px;
}
footer .contact-info a {
  text-decoration: none;
  color: #fff; 
}
footer .contact-info div{
  margin-bottom: 11px;
}

footer .contact-info div span{
  color: #fff !important;
}
footer .col-wrapper {
  width: 300px !important; 
}
footer .contact-us {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
footer .contact-us li a {
  color: #ffff;
}
footer .contact-us li i {
  font-size: 20px;
}

 


.footer {
  background: #152f4f;
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180cb;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}
